<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div style="margin-bottom: 4px;">
    <label>
      First Name:
      <input formControlName="firstName" required>
    </label>

    <div
      *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
      style="color: red;"
    >
      <div *ngIf="firstName.errors.required">
        First Name is required
      </div>
      <div *ngIf="firstName.errors.minlength">
        Name must be at least 3 characters long
      </div>
      <div *ngIf="firstName.errors.forbidden">
        Name cannot be Bob.
      </div>
      <div *ngIf="firstName.errors.pattern">
        Name cannot include Bad.
      </div>
    </div>
    <div
      *ngIf="profileForm.errors?.identityRevealed && (profileForm.touched || profileForm.dirty)"
      style="color: red;"
    >
      Name cannot match alter ego
    </div>
  </div>

  <div style="margin-bottom: 4px;">
    <label>
      Last Name:
      <input formControlName="lastName">
    </label>
    <div *ngIf="lastName.pending">Validating...</div>
    <div *ngIf="lastName.invalid" style="color: red;">
      <div *ngIf="!lastName.errors?.isUnique">
        Last Name is already taken
      </div>
    </div>
    <div
      *ngIf="profileForm.errors?.identityRevealed && (profileForm.touched || profileForm.dirty)"
      style="color: red;"
    >
      Name cannot match alter ego
    </div>
  </div>

  <div formGroupName="address">
    <div style="margin-bottom: 4px;">
      <label>
        Street:
        <input formControlName="street">
      </label>
    </div>
    <div style="margin-bottom: 4px;">
      <label>
        City:
        <input formControlName="city">
      </label>
    </div>
    <div style="margin-bottom: 4px;">
      <label>
        State:
        <input formControlName="state">
      </label>
    </div>
    <div style="margin-bottom: 4px;">
      <label>
        Zip Code:
        <input formControlName="zip">
      </label>
    </div>
  </div>

  <div formArrayName="aliases">
    <p>
      <button type="button" (click)="addAlias()">Add Alias</button>
      <button type="button" (click)="removeAlias()">Remove Alias</button>
    </p>

    <div
      *ngFor="let alias of aliases.controls; let i = index;"
      style="margin-bottom: 4px;"
    >
      <label>
        Alias:
        <input [formControlName]="i">
      </label>
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="!profileForm.valid">送出</button>
  </div>
</form>

<p>
  <button (click)="updateProfileSetValue()">Update Profile setValue</button>
</p>

<p>
  <button (click)="updateProfilePatchValue()">Update Profile patchValue</button>
</p>

{{ profileForm.value | json }}
