<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div style="margin-bottom: 4px;">
    <label>
      First Name:
      <input formControlName="firstName" required>
    </label>
  </div>

  <div style="margin-bottom: 4px;">
    <label>
      Last Name:
      <input formControlName="lastName">
    </label>
  </div>

  <div formGroupName="address">
    <div style="margin-bottom: 4px;">
      <label>
        Street:
        <input formControlName="street">
      </label>
    </div>
    <div style="margin-bottom: 4px;">
      <label>
        City:
        <input formControlName="city">
      </label>
    </div>
    <div style="margin-bottom: 4px;">
      <label>
        State:
        <input formControlName="state">
      </label>
    </div>
    <div style="margin-bottom: 4px;">
      <label>
        Zip Code:
        <input formControlName="zip">
      </label>
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="!profileForm.valid">送出</button>
  </div>
</form>

<p>
  <button (click)="updateProfileSetValue()">Update Profile setValue</button>
</p>

<p>
  <button (click)="updateProfilePatchValue()">Update Profile patchValue</button>
</p>

{{ profileForm.value | json }}
